{% extends 'base.html' %}
{% load static %}

{% block title %} 
  My Blog
{% endblock  %}

{% block css %}
  <link rel='stylesheet' href='{% static 'blog/index.css' %}'>
  <link rel='stylesheet' href='{% static 'blog/post.css' %}'>
{% endblock  %}

{% block body %}

  <section id="welcome">
    <header>
      <img src='{% static '/blog/images/me.png' %}' alt='s403o - Author'>
      <h2>s403o's Blog</h2>
    </header>
    <p>paragraph for testing</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Posts</h2>
    <ul>
      
      {% for post in posts %}
        {% include 'blog/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>
      text text text text text text text text text text
    </p>
    <p>
      text text text text text text text text text text
    </p>

  </section>
{% endblock  %}